.left {
    float: left;
    width: 20%;
    text-align: center;
}
.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}
.right {
    float: left;
    width: 20%;
    padding: 15px;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}
.introduction {
    background-color: #cccccc;
	text-align: center;
}
table {
	width:100%;
	border:3px solid white;
    border-collapse: collapse;
}
th, td {
	width:33%;
	border: 2px solid white;
    padding: 7px;
}
th {
    text-align: center;
    background-color: #cccccc;
}
td {
    text-align: left;
    background-color: #999999;
}
