#lowComplexity { float: left; width: 30%; min-height: 18em; padding: 1%; }
#lowComplexity h4 { line-height: 16px; margin: 0 0 0.4em; }
#lowComplexity h4 .ui-icon { float: left; }
#lowComplexity .gallery h5 { display: none; }

#mediumComplexity { float: left; width: 30%; min-height: 18em; padding: 1%; }
#mediumComplexity h4 { line-height: 16px; margin: 0 0 0.4em; }
#mediumComplexity h4 .ui-icon { float: left; }
#mediumComplexity .gallery h5 { display: none; }

#highComplexity { float: left; width: 30%; min-height: 18em; padding: 1%; }
#highComplexity h4 { line-height: 16px; margin: 0 0 0.4em; }
#highComplexity h4 .ui-icon { float: left; }
#highComplexity .gallery h5 { display: none; }

#gallery { float: left; width: 100%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; font-size: x-small; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li a.ui-icon-info { float: right; }
.gallery li img { width: 100%; cursor: move; }
